<div class="social-media-icons">
    <a href="https://www.facebook.com/campos.a.josue.5" class="icon-media">
        <div class="card-button-face">
            <img src="https://i.ibb.co/S5KgHzS/facebook-1.png" alt="facebook">
           </div>
        
        </a>
    <a href="https://www.instagram.com/everest012016/"class="icon-media">
        <div class="card-button-insta">
            <img src="https://i.ibb.co/3NFM8vy/instagram.png" alt="instagram">
           </div>
        
        
        </a>
</div>
<style>
    .social-media-icons{
        width: 100%;
        display: flex; 
       
    }
    .social-media-icons img{
        width: 50px;
        margin: 10px;
    }
    .card-button-face {
        margin: 10px;
 border: 1px solid #2525252e;
 display: flex;
 padding: .3em;
 cursor: pointer;
 border-radius: 50px;
 transition: .3s ease-in-out;
}
.card-button-face:hover {
 border: 1px solid #3b5998;
 background-color: #3b5998;
}
.card-button-insta {
    margin: 10px;
 border: 1px solid #2525252e;
 display: flex;
 padding: .3em;
 cursor: pointer;
 border-radius: 50px;
 transition: .3s ease-in-out;
}
.card-button-insta:hover {
 border: 1px solid #88983b;
 background-image: url('https://i.ibb.co/hyXz0gc/instagram-hex-colors-gradient-background.png');
 background-size: cover;
 background-position: 50% 50%;
}
</style>